body {
    margin:50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

header {
    width: 100%;
    max-width: 1400px;
    height: 78px;
}


nav {
    display: flex;
    align-items: flex-start;
    justify-content:space-between ;
    
}

.signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
}


ul{
    width:100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 20px;
        
}


li > a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    height: 28px;
    left: 46.43%;
    right: 28.57%;
    width:100%;
    max-width: 350px;
    
}


.in {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;

}

.up {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
}

.container1 {
    display: flex;
    margin: 30px;
}


.section1 {
     margin: 30px;

}

.main-title1 {
    width:100%;
    max-width: 518px;
    height: 108px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;

}

.main-info1 {
    width: 100%;
    max-width: 458px;
    height: 95px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #544837;
}

.button1 {
    width: 100%;
    max-width: 175px;
    height: 53px;
    background: #FF9900;
    border: none;

}

.class2 {
    width: 604.35px;
    height: 494.83px;

}

.main-title2 {
    text-align: center;
    height: 108px;
    left: 38.22%;
    right: 37.4%;
    top: calc(50% - 108px/2 - 217.5px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
   

}

.main-section2 {
    margin: 30px;
} 

.container2 {
    display: flex;
    justify-content: space-between;
   
}

.sub {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;

}

.para {
    font-family: 'Poppins';
    font-style: normal;
    color: #0e0c09;


}

.button2 {
     text-align: center;
     margin:50px;
    
}

.main-button2 {
    height: 24px;
    top: calc(50% - 24px/2 + 0.5px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #FF9900; 
    border: none;

}

.container3 {
    display: flex;
    margin: 30px;
   
}

.heading1{
    font-family: 'Poppins';
    font-style:normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837;

}

.heading2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}

.para1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.heading3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #2F281E;

}

.man {
     margin: 30px;
     padding: 30px;
    
}

.container4 {
    display: flex;
    margin: 30px;
}

.marketers {
    display: flex;
    flex-direction: column;
}
.man2 {
    margin: 30px;
}

.heading4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;

}

.list {
    width: 35.94px;
    height: 35px;
   
}

.group {
    display: flex;
}

.para2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.container4 {
    display: flex;
}

.para3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.heading5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}

.container5 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 100px;
}

.para4 {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
}

.btw {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
    background: #FF9900;
    border-radius: 4px;
    border:none;
    position:relative;
    top: 100px;
    left:5px;
    

}

.logo4 {
    position:relative;
    bottom:90px;
    margin: 25px;
}


.about {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}


